@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #6BC0BC;
  --secondary-color: #3799A6;
  --body-text-color: #444444;
  --menu-text-color: #333333;
  --bg-color: #F8F9FA;
  --h1-color: #333333;
  --h2-color: #3799A6;
  --h3-color: #6BC0BC;
  
  --heading-font: 'Montserrat', sans-serif;
  --body-font: 'Montserrat', sans-serif;

  --fw-100: 100;
  --fw-200: 200;
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
  --fw-900: 900;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
}

h1 {
  font-size: clamp(3.75rem, 3.471rem + 1.143vw, 4.5rem);
  color: var(--h1-color);
  font-weight: var(--fw-700);
}

h2 {
  font-size: clamp(2.5rem, 2.318rem + 0.762vw, 3rem);
  color: var(--h2-color);
  font-weight: var(--fw-600);
}

h3 {
  font-size: clamp(1.5rem, 1.394rem + 0.381vw, 1.75rem);
  color: var(--h3-color);
  font-weight: var(--fw-600);
}

body, p, a, li, label, input {
  font-family: var(--body-font);
  color: var(--body-text-color);
}

.text-highlight {
  font-size: clamp(1.25rem, 1.134rem + 0.476vw, 1.563rem);
  color: var(--primary-color);
  font-weight: var(--fw-500);
  margin: 0;
}

.span-highlight {
  color: var(--primary-color);
  font-weight: var(--fw-600);
}

.error-message {
  color: red;
  text-align: center;
  background-color: rgba(255, 0, 0, 0.1);
  padding: .5rem;
  border-radius: 5px;
}

.success-message {
  color: green;
  text-align: center;
  background-color: rgba(0, 255, 0, 0.1);
  padding: .5rem;
  border-radius: 5px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
}

::-webkit-scrollbar-track {
  background-color: rgb(235, 235, 235);
}