.portfolio-page {
    padding: 11rem 0 5rem 0;
}

.portfolio-heading {
    color: var(--secondary-color);
    font-size: clamp(2rem, 1.629rem + 1.524vw, 3rem);
    text-align: center;
    text-transform: uppercase;
    font-weight: var(--fw-700);
    margin: 0;
    animation: fadeInFromLeft 1s ease;
}

.portfolio-subheading {
    font-size: clamp(1rem, 0.907rem + 0.381vw, 1.25rem);
    margin-block: 0 4rem;
    animation: fadeInFromRight 1s ease;
}

.project-page {
    height: 100dvh;
    width: 100vw;
    display: flex;
}

.project-page div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

@keyframes fadeInFromLeft {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInFromRight {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}